In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score, roc_curve

# <font color = 'red'> ЛР 4. Exploratory data analysis Постановка задачи классифкации. </font>

Сложность: <font color = 'green'> Легко  </font>.

Дата составления: 30.09.2024

Срок выполнения: 2 недели (с момента первой практики после выдачи).

Автор: ст. преподаватель Кушнеров А.В.

## <font color = 'green'>1. Exploratory data analysis </font>

### <font color = 'green'> Пример 1. Загрузка данных и первичный анализ. На примере telecom.csv </font>

In [2]:
data = pd.read_csv('telecom.csv')

In [3]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB
None

In [5]:
data['Churn']=data['Churn'].astype('int64')

In [6]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [7]:
data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [8]:
data.describe(include=['object', 'bool'])

       State International plan Voice mail plan
count   3333               3333            3333
unique    51                  2               2
top       WV                 No              No
freq     106               3010            2411

In [12]:
data['Churn'].value_counts()

Churn
0    2850
1     483
Name: count, dtype: int64

In [10]:
data['Churn'].value_counts(normalize = True)

Churn
0    0.855086
1    0.144914
Name: proportion, dtype: float64

In [ ]:
abons_stat = pd.Series(data[data['Churn'] == 1].mean(numeric_only=True),name='abons')           #считаем среднее значение тех, кто ливнул и добавляем в столбец abons
disertirs_stat = pd.Series(data[data['Churn'] == 0].mean(numeric_only=True),name='disertirs')
ratio = pd.Series(disertirs_stat/abons_stat,name = 'ratio')

In [ ]:
pd.concat([abons_stat,disertirs_stat,ratio],axis = 1).sort_values(by='ratio')

In [ ]:
pd.crosstab(data['Churn'], data['International plan']) #для категориальных

In [ ]:
pd.crosstab(data['Churn'], data['Voice mail plan'],normalize=True)

In [ ]:
pd.crosstab(data['Churn'], data['International plan'],margins=True)

In [ ]:
pd.crosstab(data['Churn'], data['Customer service calls'],margins=True)

In [ ]:
sns.countplot(x='Customer service calls', hue='Churn', data=data);

In [ ]:
data['Intensive_service_calls_Q'] = (data['Customer service calls'] > 3).astype('int')

pd.crosstab(data['Intensive_service_calls_Q'], data['Churn'], margins=True)

In [ ]:
sns.countplot(x='Intensive_service_calls_Q', hue='Churn', data=data);

In [ ]:
d = {'No' : 0, 'Yes' : 1}
data['International plan'] = data['International plan'].map(d)

In [ ]:
data.head()

In [ ]:
data['Voice mail plan'] = data['Voice mail plan'].map(d)

In [ ]:
data.head()

In [ ]:
pd.crosstab(data['Intensive_service_calls_Q'] & data['International plan'] , data['Churn'])

### <font color = 'green'> Пример 2. Корреляция. На примере telecom.csv </font>

In [ ]:
corr_matrix = data.drop(['State', 'International plan', 'Voice mail plan',
                      'Area code'], axis=1).corr() #оставляем только количественные фичи

In [ ]:
corr_matrix

In [ ]:
sns.heatmap(corr_matrix,cmap="crest");

### <font color = 'green'> Пример 3. Графический анализ данных. На примере telecom.csv </font>

In [ ]:
features = list(set(data.columns) - set(['State', 'International plan', 'Voice mail plan',  'Area code',
                                      'Total day charge',   'Total eve charge',   'Total night charge',
                                        'Total intl charge', 'Churn','Intensive_service_calls_Q','Phone number']))
data[features].hist(figsize=(20,12));

In [ ]:
sns.pairplot(data[['Customer service calls','Total day minutes','Total day charge','Total night calls','Churn',]], hue='Churn');

### <font color = 'green'> Пример 4. Графический анализ данных. На примере Ирисов Фишера </font>

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
iris.head()

In [ ]:
sns.pairplot(iris, hue='species',height=1.5);
plt.show();

In [ ]:
features = list(set(iris.columns)-set(['species']))

In [ ]:
features

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(7, 4))

for idx, feat in  enumerate(features):
    sns.boxplot(x='species', y = feat, data = iris, ax=axes[idx // 2, idx % 2],hue='species')
    axes[idx // 2, idx % 2].set_xlabel('species')
    axes[idx // 2, idx % 2].set_ylabel(feat);
plt.show();

In [ ]:
sns.boxplot(x='species', y = 'sepal_length', data = iris,hue='species');
plt.show();

In [ ]:
iris[features].hist(figsize=(7,4));
plt.show();

Кривые эндрюса. https://habr.com/ru/articles/248623/

In [ ]:
def andrews_curve(x,theta):
  curve = list()
  for th in theta:
    x1 = x[0] / np.sqrt(2)
    x2 = x[1] * np.sin(th)
    x3 = x[2] * np.cos(th)
    x4 = x[3] * np.sin(2.*th)
    curve.append(x1+x2+x3+x4)
  return curve

accuracy = 1000
samples = iris.drop(['species'],axis=1).values
theta = np.linspace(-np.pi, np.pi, accuracy)

for s in samples[:20]: # setosa
  plt.plot(theta, andrews_curve(s, theta), 'r')

for s in samples[50:70]: # versicolor
  plt.plot(theta, andrews_curve(s ,theta), 'g')

for s in samples[100:120]: # virginica
  plt.plot(theta, andrews_curve(s, theta), 'b')

plt.xlim(-np.pi,np.pi)
plt.show()

<font color = 'red' size = 5>Задание 1 </font>

1. Изучите примеры точечной работы с признаками в исходных данных. 
2. Поработав в документацией и примерами проведите отбор и подготовку признаков для знаменитого [titanik-датасета](https://www.kaggle.com/c/titanic/data) , а также для данных об  [операторах](https://www.kaggle.com/datasets/mnassrib/telecom-churn-datasets)
    +  2.1 Визуализируйте признаки. Определите их типы.
    +  2.2 Удалите аномальные данные, где необходимо (простейшими методами z-score и IQR).
    +  2.3 Определите важные признаки с помощью описательной статитсики и корреляции.
    +  2.4 Заполните пропуски и поработайте с данными по своему усмотрению.
    +  2.5 Подготовленный датасет сохраните в новый csv файл.
   
        



[https://scikit-learn.org/stable/modules/preprocessing.html](https://scikit-learn.org/stable/modules/preprocessing.html)

### <font color = 'green'> Пример 5. Работа с текстом </font>

#### Очень простой bag of words

In [ ]:
from functools import reduce
import numpy as np

texts = [['i', 'love', 'my', 'mmf'],
         ['he', 'hate', 'my', 'mmf'],
         ['he', 'and', 'i', 'hate', 'and', 'love', 'my','mmf']]

dictionary = list(enumerate(set(list(reduce(lambda x, y: x + y, texts)))))

def vectorize(text):
    vector = np.zeros(len(dictionary))
    for i, word in dictionary:
        num = 0
        for w in text:
            if w == word:
                num += 1
        if num:
            vector[i] = num
    return vector

for t in texts:
    print(vectorize(t))

In [ ]:
dictionary

#### Bag of words с N-grams

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(ngram_range=(1, 1))
vect.fit_transform(["no i have questions", "i have no questions"]).toarray()

In [ ]:
vect.vocabulary_

In [ ]:
vect = CountVectorizer(ngram_range=(1, 2))
vect.fit_transform(["no i have questions", "i have no questions"]).toarray()

In [ ]:
vect.vocabulary_

#### TF- IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
Document1= "It is going to rain today."
Document2= "Today I am not going outside."
Document3= "I am going to watch the season premiere."
Doc = [Document1 ,
       Document2 , 
       Document3]
print(Doc)

In [ ]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(Doc)

In [ ]:
print('Document transform',X.toarray())

In [ ]:
X.toarray()[0]

In [ ]:
print(vectorizer.vocabulary_)

<font color = 'red' size = 5>Задание 2 </font>

1. Изучите изложенный выше пример работы с текстовым датасетом. 
2. Подготовьте к дальнейшей работе текстовый датасет отзывов к фильмам. [Imdb - rews](https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews) .
    +  2.1 Используя встроенные возможности *TfidfVectorizer*.
    +  2.2 Реализовав аналог самостоятельно.
    +  2.3 Подготовленный датасет сохраните в новый csv файл.
   
        



[https://www.geeksforgeeks.org/understanding-tf-idf-term-frequency-inverse-document-frequency/](https://www.geeksforgeeks.org/understanding-tf-idf-term-frequency-inverse-document-frequency/)

## <font color = 'green'> 2. Введение в классификацию.  </font>

In [ ]:
X_data = np.random.randint(0,40,(300,2))
rows = np.where(X_data[:,0]!=X_data[:,1])
X_data = X_data[rows]
y_data = np.array([int(np.sign(elem[0]-elem[1])==1) for elem in X_data])

plt.scatter(X_data[:,0],X_data[:,1],c = y_data);

inner_model = LogisticRegression(penalty=None)
inner_model.fit(X_data, y_data)

inner_preds = inner_model.predict(X_data)
inner_preds_pr = inner_model.predict_proba(X_data)
 # accuracy
(inner_preds == y_data).mean()

inner_preds_pr

print(inner_model.coef_)

inner_model.intercept_

<font color = 'red' size = 5>Задание 3 </font>

Используя встроенные возможности *python* реализуйте простую модель классифиакатора для данных из з. 1 и з. 2. Сделайте выводы о точности, используя метрику *accurancy_score*.